/* Start Features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
  h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
  }
  .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
    @media (max-width: 991px) {
      width: calc(100% / 2);
    }
    @media (max-width: 575px) {
      width: 100%;
    }

    p {
      width: 80%;
      margin: 0 auto;
      line-height: 1.7;
      color: #706f6f;
    }
  }
  img {
    width: 96px;
  }

  h4 {
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
    &:before {
      content: "";
      width: 40px;
      height: 4px;
      background-color: var(--main-color);
      position: absolute;
      left: 50%;
      margin-left: -20px;
      bottom: -22px;
    }
  }
}

/* End Features */
